<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00</td>        <!-- time    -->
        <td>Introduction to R and R Studio</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00</td>        <!-- time    -->
        <td>Project management</td>        <!-- content -->
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td>Data Structures</td>        <!-- content -->
      <tr>               <!-- row 3   -->
        <td>12:00</td>        <!-- time    -->
        <td>Break for Lunch</td>        <!-- content -->
    <tr>               <!-- row 3   -->
        <td>1:00</td>        <!-- time    -->
        <td>Exploring Data Frames</td>        <!-- content -->
    <tr>               <!-- row 3   -->
        <td>2:30</td>        <!-- time    -->
        <td>Creating Publication-Quality Graphics with ggplot2</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td>Functions Explained</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Dataframe manipulation with dplyr</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00</td>        <!-- time    -->
        <td>Break for Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00</td>        <!-- time    -->
        <td>Producing Reports with knitr</td>        <!-- content -->
      </tr>

        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
